body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-size: 50%;
    background-repeat: no-repeat;
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(5px, 0);
    }

    50% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}


.blurred-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(15px);
}

.header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.hidden {
    display: none;
}

#accountList {
    padding: 1px;
    border: 0.1px solid white;
    margin-bottom: 1px;
    cursor: pointer;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered-content button {
    padding: 10px;
    background-color: #1b1b1b;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.centered-content button:hover {
    background-color: #272727;
}