body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.site-container {
    transform: scale(0.8);
}

#accountList {
    padding: 1px;
    border: 0.1px solid white;
    margin-bottom: 1px;
    cursor: pointer;
}

.header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered-content button {
    padding: 10px;
    background-color: #1b1b1b;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.centered-content button:hover {
    background-color: #272727;
}